body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:91px;
  width:580px;
  height:326px;
  display:flex;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:326px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:91px;
  width:580px;
  height:326px;
  display:flex;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:100px;
  width:78px;
  height:58px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:67px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:91px;
  width:85px;
  height:67px;
  display:flex;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:80px;
  height:80px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:342px;
  width:60px;
  height:60px;
  display:flex;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:493px;
  width:400px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:70px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:104px;
  width:50px;
  height:50px;
  display:flex;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:2px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:127px;
  width:145px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.400663255792154deg);
  -moz-transform:rotate(-0.400663255792154deg);
  -ms-transform:rotate(-0.400663255792154deg);
  transform:rotate(-0.400663255792154deg);
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:107px;
  width:400px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:758px;
  width:580px;
  height:326px;
  display:flex;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:326px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:758px;
  width:580px;
  height:326px;
  display:flex;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:767px;
  width:78px;
  height:58px;
  display:flex;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:67px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:758px;
  width:85px;
  height:67px;
  display:flex;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:80px;
  height:80px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:1009px;
  width:60px;
  height:60px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:70px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:771px;
  width:50px;
  height:50px;
  display:flex;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:326px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:758px;
  width:580px;
  height:326px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:839px;
  width:165px;
  height:165px;
  display:flex;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:839px;
  width:165px;
  height:165px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u198_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:909px;
  width:139px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_img.disabled {
}
#u198.disabled {
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u199_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:909px;
  width:139px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_img.disabled {
}
#u199.disabled {
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:2px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:939px;
  width:145px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.400663255792154deg);
  -moz-transform:rotate(-0.400663255792154deg);
  -ms-transform:rotate(-0.400663255792154deg);
  transform:rotate(-0.400663255792154deg);
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:930px;
  width:400px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:553px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:113px;
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:-616px;
  top:103px;
  width:621px;
  height:10px;
}
#u202_seg2 {
  border-width:0px;
  position:absolute;
  left:-616px;
  top:103px;
  width:10px;
  height:102px;
}
#u202_seg3 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:192px;
  width:18px;
  height:19px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:100px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:433px;
  width:580px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:137px;
  width:36px;
  height:29px;
  display:flex;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:194px;
  width:400px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:166px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:93px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:83px;
  width:327px;
  height:10px;
}
#u206_seg2 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:79px;
  width:19px;
  height:18px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:67px;
  top:80px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:91px;
  width:575px;
  height:326px;
}
#u207_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:326px;
  overflow:hidden;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:1147px;
  width:400px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1004px;
  width:0px;
  height:0px;
}
#u209_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:178px;
}
#u209_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:168px;
  width:542px;
  height:10px;
}
#u209_seg2 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:164px;
  width:19px;
  height:18px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:165px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:1039px;
  width:400px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1004px;
  width:0px;
  height:0px;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:60px;
  width:317px;
  height:10px;
}
#u211_seg2 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:56px;
  width:19px;
  height:18px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:57px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:372px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:345px;
  height:10px;
}
#u212_seg1 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:-5px;
  width:10px;
  height:126px;
}
#u212_seg2 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:108px;
  width:18px;
  height:19px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:790px;
  width:400px;
  height:76px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:61px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:769px;
  width:50px;
  height:45px;
  display:flex;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:792px;
  width:0px;
  height:0px;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:321px;
  height:10px;
}
#u215_seg1 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:-5px;
  width:10px;
  height:46px;
}
#u215_seg2 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:31px;
  width:322px;
  height:10px;
}
#u215_seg3 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:27px;
  width:19px;
  height:18px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:266px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u216_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:1591px;
  top:66px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_img.disabled {
}
#u216.disabled {
}
