body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:1351px;
  height:80px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:0px;
  width:126px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-1px;
  width:126px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:-1px;
  width:126px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:199px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:199px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:994px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:125px;
  width:617px;
  height:994px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u141_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:45px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:80px;
  width:617px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D9001B;
  text-align:center;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_img.disabled {
}
#u141.disabled {
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:205px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:125px;
  width:666px;
  height:205px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u143_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#D9001B;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:45px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:80px;
  width:617px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D9001B;
  text-align:center;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_img.disabled {
}
#u143.disabled {
}
